
FirmaFran.jpg

EnriqueOterFirma.jpg

.ipynb_checkpoints/Covid19AndWbIndicators(LaTeX)-checkpoint.ipynb

.ipynb_checkpoints/Covid19AndWbIndicators-checkpoint.ipynb

.ipynb_checkpoints/covid_vs_economy-checkpoint.ipynb
